@use "../variable" as *;

// ============================================
// Input Dialog Component
// ============================================

.full-width {
  width: 100%;
  min-width: 25rem;
}

textarea {
  resize: vertical;
}
