/src/dist/*
# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*


# IDE - VS
**/.vs/
/src/Organizer.API/Organizer.API/Organizer.db-shm
/src/Organizer.API/Organizer.API/Organizer.db-wal

# .NET Build artifacts
**/bin/
**/obj/

**/node_modules/
**/dist/

# Playwright test results
docs/playwright-results/
e2e/playwright-report/
e2e/test-results/
