// ============================================
// Appointment Summary Component
// ============================================

.full-width {
  width: 100%;
}

.appointment-summary {
  font-weight: bold;
  color: #47bd65;
}