@use "../variable" as *;

// ============================================
// Customer Component
// ============================================

.customer-editor {
  display: flex;
  justify-content: flex-end;
}

.name {
  width: 18.75rem;
}

.codice {
  width: 6.25rem;
}

.color {
  width: 7.5rem;
}

.project-color {
  width: 10.3125rem;
}

.customer-list {
  height: 90%;
  overflow-y: auto;
}
