.customer-editor{
    float:right;
}

.name{
    width: 300px;
}

.codice{
    width: 100px;
}

.color{
    width: 120px;
}

.project-color{
    width:165px;
}

.customer-list{
    height: 90%;
    overflow-y: auto;
}
