@import "../variable.scss";

.header{
    height: $row-header-height;
}

.calendar-container{
    border: $cell-border-size solid $calendar-cell-border-color;
    box-sizing: border-box;
    display: inline-block;
}

.year-header{
   width:$year-month-col-width;
   height: $row-header-height;
   display: inline-block;
   border: $cell-border-size solid $calendar-cell-border-color;
   box-sizing: border-box;
   background-color: $calendar-header-color;
   color: $calendar-header-text-color;
   text-align: center;
   line-height: 3.6vh;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-size: $header-font-size;
  
}
.month-day-header{
    width:$day-width;
    height: $row-header-height;
    display: inline-block;
    border: $cell-border-size solid $calendar-cell-border-color;
    box-sizing: border-box;
    background-color: $calendar-header-color;
    color: $calendar-header-text-color;
    text-align: center;
    line-height: 3.6vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: $header-font-size;
}

.util-header{
    width:$util-width;
    height: $row-header-height;
    display: inline-block;
    border: $cell-border-size solid $calendar-cell-border-color;
    box-sizing: border-box;
    background-color: $calendar-header-color;
    color: $calendar-header-text-color;
    text-align: center;
    line-height: 3.6vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: $header-font-size;
}

.month-row{
    height: $row-height;
}

.month-day{
    position: relative;
    padding: 0vw 0vw 0vw 0vw;
    vertical-align: top;
    width:$day-width;
    height: $row-height;
    display: inline-block;
    text-align: center;
    border: $cell-border-size solid $calendar-cell-border-color;
    box-sizing: border-box;
    font-family: 'Segoe UI';
    margin: 0 auto 0 auto;
    overflow: hidden;
    cursor: pointer;
    background-color: $calendar-day-color;
    color:$calendar-day-text-color;
}

.month-day:hover{
    background-color: $calendar-day-hover-color;
}

.month-header{
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-size: 0.95vw;
   line-height: 3.6vh;
   border: $cell-border-size solid $calendar-cell-border-color;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   text-transform: uppercase;
   font-weight: bold;
   width:$year-month-col-width;
   height: $row-height;
   background-color: $calendar-month-header-color;
   color:$calendar-month-header-text-color;
   display: inline-block;
   text-align: center;
}

.day-label{
    font-size: $day-label-font-size;
    height: $day-label-height;
    line-height: $day-label-height;
}

.highlight-saturday{
   background-color:$calendar-saturday-color;
   font-weight: bold;
}


.highlight-sunday{
   background-color: $calendar-sunday-color;
   font-weight: bold;
}

.no-day{
    background-color: $calendar-noday-color;
}

.today{
    background-color: $calendar-today-color;
    color: $calendar-today-text-color;
}

.util-value{
    vertical-align: top;
    padding: 0;
    width:$util-width;
    height: $row-height;
    font-size: $util-font-size;
    display: inline-block;
    border: $cell-border-size solid $calendar-cell-border-color;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    overflow: hidden;
    background-color: $calendar-utils-color;
    color: $calendar-utils-text-color;
}
