@import "./variable";

#loader-placeholder{
    height: 5px;
}

.header{
    height: 20px;
    text-align: center;
}

.header a{
    color: var(--appMenuLinkColor);
    text-decoration: underline;
    cursor: pointer;
}

*{
    font-family: "Segoe UI";
}

.theme-wrapper{
    height: 100%;
    margin: 0 1% 0 1%;
}