.calendar-container{
    text-align: center;
    flex: 1 1 auto;
}

.calendar-option{
    float:right;
}

.selection-count {
    font-size: 12px;
    font-weight: bold;
    vertical-align: super;
    margin-left: 2px;
    margin-right: 8px;
}

#upstream-event-token{
    width: 170px;
}

#calendar-select-date-filter{
    width: 150px;
}

#calendar-view-filter{
    width: 110px;
}

#calendar-view-display{
    width: 120px;
}

#calendar-project-filter{
    width: 90px;
}

#calendar-customer-filter{
    width: 200px;
}
