@import "./variable";


.header{
    height: 20px;
    text-align: center;
}

.header a{
    color: var(--appMenuLinkColor);
    text-decoration: underline;
    cursor: pointer;
}

*{
    font-family: "Segoe UI";
}