$event-font-size-year:1.4vh;
$event-font-size-month:1.2vh;
$event-height-year:37.6%;
$event-height-month:16.6%;
$header-font-size:1.0vw;
$month-font-size:1.05vw;
$day-label-font-size:1.6vh;
$day-label-height:1.7vh;
$row-header-height:4vh;
$row-height-year:7.6%;
$row-height-month:19%;
$util-width: 3%;
$util-font-size:1.1vw;
$cell-border-size:0.5px;
$year-month-col-width:3%;
$day-width-year:((100% - $year-month-col-width - $util-width)/37);
$day-width-month:(100%/7);
$utilization-table:100%;
$utilization-width:(($utilization-table)/7);
$utilization-row-height:((100&)/20);