$event-font-size:1.4vh;
$event-height:2.0vh;
$header-font-size:1.0vw;
$month-font-size:1.05vw;
$day-label-font-size:1.6vh;
$day-label-height:1.7vh;
$row-header-height:4vh;
$row-height:5.8vh;
$util-width: 2.6vw;
$util-font-size:1.1vw;
$cell-border-size:0.5px;
$year-month-col-width:2.7vw;
$calendar-margin-width:0.5vw;
$day-width:((100vw - $year-month-col-width - $util-width - ($calendar-margin-width * 2))/37);