<h2 matDialogTitle>{{ config?.dialogTitle }}</h2>
@if (config?.dialogMsg) {
  <mat-dialog-content>
    @if (isDialogMsgHtml) {
      <span [innerHTML]="config?.dialogMsg"></span>
    }
    @if (!isDialogMsgHtml) {
      <span>{{ config?.dialogMsg }}</span>
    }
  </mat-dialog-content>
}
<mat-dialog-actions align="end">
  @if (getValOrDefaultVal(config?.dialogType, 'alert') === 'confirm') {
    <button mat-raised-button matDialogClose="cancel" [color]="getValOrDefaultVal(config?.cancelBtnColor, 'primary')"
      >
      {{ getValOrDefaultVal(config?.cancelBtnLabel, 'Cancel') }}
    </button>
  }
  <button class="button" mat-raised-button matDialogClose="ok" [color]="getValOrDefaultVal(config?.okBtnColor, 'primary')">
    {{ getValOrDefaultVal(config?.okBtnLabel, 'Ok') }}
  </button>
</mat-dialog-actions>