@for (cus of getCustomersWithAppointmentInYear(); track cus) {
  <div [ngStyle]="getCustomerStyle(cus)" class="customer-tile">
    <div>
      <b>({{cus.shortDescription}}) - {{cus.name}}</b>
      <div class="action-customer"><button (click)="customerSelectedForEdit.emit(cus)" mat-mini-fab
        color="accent"><mat-icon>edit</mat-icon></button>&nbsp;
        <button (click)="deleteCustomer(cus)" mat-mini-fab color="warn"><mat-icon>delete</mat-icon></button>
      </div>
    </div>
    <span [innerHTML]="getCustomerSummary(cus)"></span>
  </div>
}
@if (getCustomersWithAppointmentInYear()?.length==0) {
  <div>No customer's appointments for the selcted year</div>
}
