@use "../variable" as *;

// ============================================
// Customer View Component
// ============================================

.customer-tile {
  margin-bottom: $spacing-sm;
  padding: $spacing-xs;
}

.action-customer {
  display: flex;
  justify-content: flex-end;
}
