@use "../variable" as *;

.header{
    height: $row-header-height;
}

.calendar-box{
    display: inline-block;
    height: 100% !important;
    width: 100%;
}

.year-header{
   width:$year-month-col-width;
   height: $row-header-height;
   display: inline-block;
   border: $cell-border-size solid var(--calendarCellBorderColor);
   box-sizing: border-box;
   background-color: var(--calendarHeaderColor);
   color: var(--calendarHeaderTextColor);
   text-align: center;
   line-height: 3.6vh;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-size: $header-font-size;
  
}
.day-header{
    height: $row-header-height;
    display: inline-block;
    border: $cell-border-size solid var(--calendarCellBorderColor);
    box-sizing: border-box;
    background-color: var(--calendarHeaderColor);
    color: var(--calendarHeaderTextColor);
    text-align: center;
    line-height: 3.6vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: $header-font-size;
}

.day-header-month{
    width:$day-width-month;
}

.day-header-year{
    width:$day-width-year;
}

.util-header{
    width:$util-width;
    height: $row-header-height;
    display: inline-block;
    border: $cell-border-size solid var(--calendarCellBorderColor);
    box-sizing: border-box;
    background-color: var(--calendarHeaderColor);
    color: var(--calendarHeaderTextColor);
    text-align: center;
    line-height: 3.6vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: $header-font-size;
}

.row-year{
    height: $row-height-year;
}

.row-month{
    height: $row-height-month;
}

.month-selected{
    border:1px solid  var(--calendarTodayColor);
}

.day{
    position: relative;
    padding: 0vw 0vw 0vw 0vw;
    vertical-align: top;
    height: 100%;
    display: inline-block;
    text-align: center;
    border: $cell-border-size solid var(--calendarCellBorderColor);
    box-sizing: border-box;
    font-family: 'Segoe UI';
    margin: 0 auto 0 auto;
    overflow:hidden;
    cursor: pointer;
    background-color: var(--calendarDayColor);
    color:var(--calendarDayTextColor);
}

.day-container{
    display: flex;
    flex-flow: column;
    height: 100%;
}

.day-label{
    flex: 0 1 $day-label-height;
    font-size: $day-label-font-size;
    height: $day-label-height;
    line-height: $day-label-height;
}

.event-viewer{
    flex: 1 1 auto;
    overflow-x: auto;
}

.event-viewer::-webkit-scrollbar
{
	width: 3px;
	background-color: #F5F5F5;
}

.event-viewer::-webkit-scrollbar-thumb
{
	background-color: #b8b8b8;
}

.day:hover{
    background-color: var(--calendarDayHoverColor);
}

.day-month{
    width:$day-width-month;
}

.day-year{
    width:$day-width-year;
}

.month-header{
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-size: 0.95vw;
   border: $cell-border-size solid var(--calendarCellBorderColor);
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   text-transform: uppercase;
   font-weight: bold;
   width:$year-month-col-width;
   height: 100%;
   background-color: var(--calendarMonthHeaderColor);
   color:var(--calendarMonthHeaderTextColor);
   display: inline-flex;
   align-items: center;
   justify-content: center;
}


.highlight-saturday{
   background-color:var(--calendarSaturdayColor);
   font-weight: bold;
}


.highlight-sunday{
   background-color: var(--calendarSundayColor);
   font-weight: bold;
}

.no-day{
    background-color: var(--calendarNodayColor);
}

.today{
    background-color: var(--calendarTodayColor);
    color: var(--calendarTodayTextColor);
}

.selected-day{
    position: relative;
}

.selected-day::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 3px solid var(--selection-color, #0288d1);
    pointer-events: none;
    box-sizing: border-box;
}

.util-value{
    vertical-align: top;
    padding: 0;
    width:$util-width;
    height: 100%;
    font-size: $util-font-size;
    display: inline-block;
    border: $cell-border-size solid var(--calendarCellBorderColor);
    box-sizing: border-box;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--calendarUtilsColor);
    color: var(--calendarUtilsTextColor);
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
