@use "../variable" as *;

// ============================================
// Warning Resume Component
// ============================================

.warning-view {
  display: inline-block;
  color: #f00;
  font-size: 1.0625rem;
  margin-left: $spacing-sm;
  font-weight: bold;
}
