
body,html
{
    margin: 0;
    font-family: 'Segoe UI';
    height: 100%;
    overflow: hidden;
}

.year-box{
    width:40px;
}

.filter-box{
   margin-left: 30px;
}


.filters-header{
    height: 55px;
    padding: 5px 0px;
    overflow: hidden;
}
