body,html
{
    margin: 0;
    font-family: 'Segoe UI';
    height: 100%;
    overflow: hidden;
}

.year-box{
    width:40px;
}

.filter-box{
   margin-left: 30px;
}


.filters-header{
    min-height: 50px;
    padding: 5px 0px;
}


.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
    color: #f3d5ff !important;
}