body,html
{
    margin: 0;
    font-family: 'Segoe UI';
    height: 100%;
    overflow: hidden;
}

.year-box{
    width:40px;
}

.filter-box{
   margin-left: 30px;
}

.container-box{
    display: flex;
    flex-flow: column;
    height: 100%;
} 

.filters-header{
    flex: 0 1 auto;
    padding: 5px 0px;
}