.delete-button{
    margin-left: auto;
}

.button{
    width:120px;
}

.customer{
    width:350px;
}

.new-appointment-edit{
    font-weight:bold;
    color: #47bd65;
}

.existent-appointment-edit{
    font-weight:bold;
    color:#c98b2e;
}

.warning-message{
    color:#ff0000;
    font-weight: bold;
    margin-left:50px;
    font-size: 13px;
}

.full-width {
    width: 100%;
}

#calendar-select-date-filter{
    width: 110px;    
}
