.delete-button{
    margin-left: auto;
}

.button{
    width:120px;
}

.customer{
    width:350px;
}

.new-appointment-edit{
    font-weight:bold;
    color: #08561c;
}

.existent-appointment-edit{
    font-weight:bold;
    color:#8e5500;
}

.warning-message{
    color:#ff0000;
    font-weight: bold;
    margin-left:50px;
}

.full-width {
    width: 100%;
}