.customer-tile{
    margin-bottom: 10px;
    padding: 5px 5px 5px 5px;
}

.customer-editor{
    float:right;
}

.name{
    width: 300px;
}

.codice{
    width: 45px;
}

.color{
    width: 80px;
}

.action-customer{
    float: right;
}

.header{
    height: 65px;
    margin: 0px 10px 0px 10px;
}