.customer-editor{
    float:right;
}

.name{
    width: 300px;
}

.codice{
    width: 45px;
}

.color{
    width: 80px;
}

.project-color{
    width:165px;
}

.header{
    height: 65px;
    padding: 0px 10px 0px 10px;
}