<div class="header">
  <button mat-mini-fab color="primary" (click)="changeYear(selectedYear-1)">-</button>&nbsp;
  <mat-form-field class="year-box">
    <mat-label>Year</mat-label>
    <input matInput placeholder="Year" maxlength="4" [ngModel]="selectedYear"
      (keyup.enter)="changeYear($event.target.value)">
  </mat-form-field>
  &nbsp;&nbsp;
  <button mat-mini-fab color="primary" (click)="changeYear(selectedYear+1)">+</button>
  <mat-form-field class="filter-projext-box">
    <mat-label>Project</mat-label>
    <input matInput placeholder="Project" maxlength="10" [ngModel]="filterProject"
      (keyup.enter)="changeFilterProject($event.target.value)">
  </mat-form-field>
  &nbsp;&nbsp;
  <mat-checkbox [(ngModel)]="showOnlyCustomerWithAppointments">With appointments</mat-checkbox>
  <div class="customer-editor">
    <button *ngIf="!isEditingCustomer" (click)="addCustomer()" mat-raised-button color="primary">ADD</button>
    <div *ngIf="isEditingCustomer">
      <span *ngIf="currentCustomer.id!= null">({{currentCustomer.id}})</span>
      <mat-form-field class="codice">
        <input type="text" [(ngModel)]="currentCustomer.shortDescription" maxlength="4" matInput placeholder="Code">
      </mat-form-field>&nbsp;
      <mat-form-field class="name"><input type="text" [(ngModel)]="currentCustomer.name" maxlength="20" matInput
          placeholder="Name">
      </mat-form-field>&nbsp;
      <mat-form-field class="color"><input type="text" [(ngModel)]="currentCustomer.color" maxlength="7" matInput
          placeholder="Color"></mat-form-field>&nbsp;
      <mat-form-field class="color"><input type="text" [(ngModel)]="currentCustomer.textColor" maxlength="7" matInput
          placeholder="Text"></mat-form-field>&nbsp;
      <mat-form-field class="project-color"><input type="text" [(ngModel)]="currentCustomer.projectColors"
          maxlength="50" matInput placeholder="Project color"></mat-form-field>&nbsp;
      <button (click)="saveCustomer()" mat-raised-button color="primary">SAVE</button>&nbsp;
      <button (click)="cancelEditCustomer()" mat-raised-button color="primary">CANCEL</button>
    </div>
  </div>
</div>
<div class="customer-list">
  <app-customer-view [customers]="customers" [appointments]="appointments" [selectedYear]="selectedYear"
    [filterProject]="filterProject" [showOnlyCustomerWithAppointments]="showOnlyCustomerWithAppointments" (customerSelectedForEdit)="editCustomer($event)"></app-customer-view>
</div>