@for (app of appointments; track trackByEventItems($index, app)) {
  <span [title]="getEventDescription(app)">
    @if (selectedDisplay==calendarDisplay.Event) {
      <span class="event"
        [class.event-month]="currentView== calendarView.Month" [class.event-year]="currentView== calendarView.Year"
        (click)="eventClick(app)" [ngStyle]="getEventStyle(app)" [ngClass]="{
    'upstream-month':(app.isFromUpstream && app.customer.id==0 && currentView== calendarView.Month),
    'upstream-year':(app.isFromUpstream && app.customer.id==0&& currentView== calendarView.Year),
    'upstream-matched':(app.isFromUpstream &&
    app.customer.id!=0) ,'not-confirmed':(!app.confirmed &&
    !app.warning),'billable':app.type.billable,'warning':app.warning}">
        @if (app.availabilityID!==null) {
          <div class="availability" [ngStyle]="getAvailabilityStyle(app)"></div>
        }
        @if (app.requireTravel) {
          <div class="travel-badge"></div>
        }
        {{getEventDescription(app)}}
        <div class="project-badge" [ngStyle]="getProjectBadgeStyle(app)"></div>
      </span>
    }
    @if (selectedDisplay==calendarDisplay.Calendar) {
      <span class="calendar"
        [class.event-month]="currentView== calendarView.Month" [class.event-year]="currentView== calendarView.Year"
        [ngStyle]="getCalendarStyle(app)">
        {{!app.calendarName || app.calendarName == '' ? '(main)': app.calendarName }}
      </span>
    }
  </span>
}