<span *ngFor="let app of appointments;trackBy: trackByEventItems" class="event" (click)="eventClick(app)" [ngStyle]="getEventStyle(app)"
    [ngClass]="{'not-confirmed':(!app.confirmed && !app.warning),'billable':app.type.billable,'warning':app.warning}">
    <div class="availability" *ngIf="app.availabilityID!==null" [ngStyle]="getAvailabilityStyle(app)"></div>
    <div class="travel-badge" *ngIf="app.requireTravel"></div>
    {{getEventDescription(app)}}
    <div class="project-badge" [ngStyle]="getProjectBadgeStyle(app)"></div>
</span>