@import "../variable.scss";

.event{
    position: relative;
    width: 100%;
    font-size: $event-font-size;
    height: $event-height;
    float: left;
    font-family: 'Segoe UI';
    display: inline-flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.event:hover{
    opacity: 0.7;
}

.travel-badge{
    position: absolute; 
    top: 1px; 
    right: 1px; 
    background-color: red; 
    width: 3.5px; 
    height: 3.5px;
    border: 0.1px solid #ffffff;
}

.project-badge{
    position: absolute; 
    height: 7px; 
    width: 7px; 
    left: 0px; 
    bottom: 0px;
    clip-path: polygon(0 0,0 100%, 100% 100%);
}

.not-confirmed{
    border:1.2px solid #fbff00;
    box-sizing: border-box;
    box-shadow: inset 0.2px 0.2px 3px 0px rgb(71, 67, 67);
}

.billable{
    font-weight: bold;
}

.warning{
    border:1.3px solid red;
    box-sizing: border-box;
    box-shadow: inset 0.2px 0.2px 3px 0px rgb(71, 67, 67);
}

.availability{
    position: absolute; 
    top:0px;
    height: 3px;
    width: 100%;
    border-bottom:  0.1px solid rgb(138, 127, 127);
}

.upstream{
    text-decoration: underline;
    font-size: 7px !important;
}

.upstream-matched{
    text-decoration: underline;
}