@import "../variable.scss";

.event{
    position: relative;
    width: 100%;
    font-size: $event-font-size;
    height: $event-height;
    display:inline-block;
}

.event:hover{
    opacity: 0.7;
}

.travel-badge{
    position: absolute; 
    top: 1px; 
    right: 1px; 
    background-color: red; 
    width: 3.5px; 
    height: 3.5px;
    border: 0.1px solid #ffffff;
}

.confirmed{
    text-decoration:underline;
}

.billable{
    font-weight: bold;
}

.warning{
    border:0.1vh solid red;
    box-sizing: border-box;
}