@import "../variable.scss";

.event{
    position: relative;
    width: 100%;
    font-size: $event-font-size;
    height: $event-height;
    line-height: $event-height;
    display:inline-block;
    float: left;
    font-family: 'Segoe UI';
}

.event:hover{
    opacity: 0.7;
}

.travel-badge{
    position: absolute; 
    top: 1px; 
    right: 1px; 
    background-color: red; 
    width: 3.5px; 
    height: 3.5px;
    border: 0.1px solid #ffffff;
}

.project-badge{
    position: absolute; 
    height: 7px; 
    width: 7px; 
    left: 0px; 
    bottom: 0px;
    clip-path: polygon(0 0,0 100%, 100% 100%);
}

.confirmed{
    text-decoration:underline;
}

.billable{
    font-weight: bold;
}

.warning{
    border:2px solid red;
    box-sizing: border-box;
}

.availability{
    position: absolute; 
    top:0px;
    height: 3px;
    width: 100%;
    border-bottom:  0.1px solid rgb(138, 127, 127);
}