.warning-view{
    display: inline-block;
    color:red;
}

.editor-view{
    width:900px;
    display: inline-block;
    vertical-align: top;
}

.header{
    height: 50px;
}

.calendar-option{
    float:right;
}