.calendar-container{
    text-align: center;
    height: 91%;
}

.header{
    height: 6%;
    padding: 0px 0px;
    overflow: hidden;
}

.calendar-option{
    float:right;
}

.calendar-app{
    height: 45%;
}


.upstream-event-token{
    width: 450px;;
}