.calendar-container{
    text-align: center;
    height: 90%;
}

.calendar-option{
    float:right;
}

#upstream-event-token{
    width: 170px;
}

#calendar-select-date-filter{
    width: 110px;    
}

#calendar-view-filter{
    width: 80px;
}

#calendar-project-filter{
    width: 80px;
}

#calendar-customer-filter{
    width: 400px;
}