<div class="header">
    <button mat-mini-fab color="primary" (click)="changeYear(selectedYear-1)">-</button>&nbsp;
    <mat-form-field class="year-box">
        <mat-label>Year</mat-label>
        <input matInput placeholder="Year" maxlength="4" [ngModel]="selectedYear"
            (keyup.enter)="changeYear($event.target.value)">
    </mat-form-field>
    &nbsp;&nbsp;
    <button mat-mini-fab color="primary" (click)="changeYear(selectedYear+1)">+</button>
    <div class="calendar-option">
        <button (click)="availability()" mat-raised-button color="primary">
            AVAILABILITY
        </button>
    </div>
</div>
<div class="calendar-container">
    <app-calendar [currentYear]="selectedYear" (daySelected)="calendarDaySelected($event)"
        (eventSelected)="calendarEventSelcted($event)"></app-calendar>
</div>
<span class="warning-view" *ngIf="getWarnings().length>0">
    <b>WARNINGS:</b>
    <div *ngFor="let warn of getWarnings()">
        {{warn.startDate | date: 'dd/MM/yyyy'}} - {{warn.type.description}} - {{warn.warningDescription}}
    </div>
</span>