name: Build Electron

on:
  workflow_dispatch:
  pull_request:
    paths: 
      - 'src/Organizer.API/**'
      - 'src/Organizer.SPA/**'
      - 'src/Organizer.App/**'
    branches: [ master ]

jobs:
  WindowsBuild:
      runs-on: windows-latest
      steps:
        - name: Checkout code
          uses: actions/checkout@v4

        - name: Setup Node.js
          uses: actions/setup-node@v4
          with:
            node-version: '22'

        - name: Setup .NET
          uses: actions/setup-dotnet@v4
          with:
            dotnet-version: '10.0.x'
          
        - name: Get Organizer.App version - Win
          id: package-version
          run: |
            $version = (Get-Content ./src/Organizer.App/package.json | ConvertFrom-Json).version
            echo "version=$version" >> $env:GITHUB_OUTPUT
          shell: pwsh
      
        - name: Run Organizer Build - Win
          run: ./Build.ps1
          working-directory: ./
          shell: pwsh

        - name: Zip the artifact - Win
          run: |
            Compress-Archive -Path .\src\dist\win-unpacked -DestinationPath .\Organizer_win.zip
          shell: pwsh
          
        - name: Create Release and Upload Windows Asset
          uses: softprops/action-gh-release@v2
          with:
            tag_name: v${{ steps.package-version.outputs.version }}
            name: Release v${{ steps.package-version.outputs.version }}
            body: |
              No changelog provided. Take a look at the commits.
            draft: false
            prerelease: false
            files: ./Organizer_win.zip
          env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
 
  LinuxBuild:
    needs: [WindowsBuild]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '22'

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10.0.x'

      - name: Run Organizer Build
        run: ./Build.ps1
        working-directory: ./
        shell: pwsh
      
      - name: Zip the artifact
        run: |
          zip -r Organizer_linux.zip ./src/dist/linux-unpacked
          
      - name: Get Organizer.App version
        id: package-version
        run: |
          version=$(jq -r '.version' ./src/Organizer.App/package.json)
          echo "version=$version" >> $GITHUB_OUTPUT
     
      - name: Upload Linux Asset to Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: v${{ steps.package-version.outputs.version }}
          files: ./Organizer_linux.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
